.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90.5%;
    border-radius: 5px;
    background-color: #2F222E;
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
 .card > img {
    border-radius: 5px 5px 0 0;
    width: 100%;
  }
  
  .container-card {
    padding: 2px 16px;
    color: white;
  }